{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Menu</h1>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/insert">Tambah data</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Opsi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <th scope="row">{{ d.id }}</th>
                        <td>{{ d.nama }}</td>
                        <td>{{ d.alamat }}</td>
                        <td>
                            <a class="btn btn-info" href="/update/{{ d.id }}">Update</a>
                            <a class="btn btn-danger" href="/delete/{{ d.id }}"
                                onclick="return confirm('Apakah anda yakin?');">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}